<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<%= link_to "Make web beautiful", "#", class: 'ui pink basic button' %>
<%= link_to "Hello Asmae", "#", class: "ui teal basic button" %>
<%= link_to "BYE ENSIAS", "#", class: "ui red button" %>
